.clock__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.clock__item, .clock__itemLittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 132px;
}

.clock__itemLittle {
  display: none;
}

.clock__text_wrapper {
  margin-bottom: 20px;
}

.clock__text {
  position: relative;
  font-size: 4.5em;
  font-weight: 600;
  line-height: 72px;
  color: #162C4E;
  margin: 0;
}

.clock__wave_wrapper {
  position: relative;
  display: flex;
}

.clock__wave_text {
  font-size: 1em;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  margin: 0;
}

.clock__wave_picture {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 54px;
}

.clock__wave_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 890px) {
  .clock__text {
    font-size: 2em;
    font-weight: 600;
    line-height: 36px;
  }
}