.clock__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.clock__item, .clock__item-dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 132px;
}

.clock__item-dot {
  width: 6px;
}

.clock__text-wrapper {
  margin-bottom: 20px;
}

.clock__text, .clock__text_dot {
  position: relative;
  font-size: 4.5em;
  font-weight: 600;
  line-height: 72px;
  color: #162C4E;
}

.clock__text_dot {
  font-family: serif;
}

.clock__wave-wrapper {
  position: relative;
  display: flex;
}

.clock__wave-text, .clock__wave-text-shot {
  font-size: 1em;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
}

.clock__wave-text-shot {
  display: none;
}

.clock__wave-picture {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 54px;
}

.clock__wave-img, .clock__wave-img-little {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clock__wave-img-little {
  display: none;
}

@media (max-width: 890px) {
  .clock__wrapper {
    margin-bottom: 40px;
  }

  .clock__item {
    width: 64px;
  }

  .clock__text,
  .clock__text_dot {
    font-size: 2em;
    font-weight: 600;
    line-height: 36px;
  }

  .clock__wave-picture {
    width: 64px;
    height: 40px;
  }

  .clock__wave-text {
    display: none;
  }

  .clock__wave-text-shot {
    display: inline;
  }

  .clock__wave-img {
    display: none;
  }

  .clock__wave-img-little {
    display: flex;
  }
}