.accordion__wrapper {
  width: 100%;
  max-width: 688px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion__inner {
  width: 100%;
  margin-bottom:  4px;
}

.accordion__head {
  padding: 14px 0;
  background: linear-gradient(270deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%);
  &:hover {
    cursor: pointer;
  }
}

.accordion__head-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.accordion__head-number {
  margin-right: 20px;
}

.accordion__head-title,
.accordion__head-number {
  font-size: 1.2em;
  color: #fff;
}

.accordion__head-button {
  cursor: pointer;
}

.accordion__content {
  position: relative;
  display: flex;
  height: 0;
  opacity: 0;
  overflow: hidden;
  background: lightgreen;
  transition: all .6s ease-in-out;
}

.accordion__content.active {
  height: 460px;
  opacity: 1;
}

.accordion__content-text-wrapper {
  position: absolute;
  left: 0;
  bottom: -192px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 0;
  background: #121212CC;
  backdrop-filter: blur(10px);
}

.accordion__content-text-wrapper.active {
  height: 192px;
  bottom: 0;
}

.accordion__content-text-inner-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}

.accordion__content-text-inner-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}

.accordion__content-text-title, .accordion__content-text-date {
  font-size: 1em;
  color: #fff;
}

.accordion__content-text-number {
  font-style: semibold;
  font-size: 9.5em;
  line-height: 152px;
  letter-spacing: -3%;
  color: #FFFFFF0A;
}