.submitbutton__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background: #DF2224;
  transition: background .2s;
  &:hover {
    cursor: pointer;
    background: #bb5254;
  }
}

.submitbutton__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.submitbutton__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 890px) {
  .submitbutton__wrapper {
    padding: 10px;
  }

  .submitbutton__picture {
    width: 15px;
    height: 15px;
  }
}